<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="persona">{{persona.nome}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/personas'"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  {{persona | json}}

  <ion-grid *ngIf="persona">
    <form #personaForm="ngForm" novalidate>
      <ion-row>

        <!--Open Header Part-->
        <ion-col size="12">
          <card-persona label="Cabeçalho" [points]="persona.totalPoints.all">
            <ion-row>
              <ion-col size="12" size-ms="4" size-md="4" size-lg="4" size-xl="4">
                <ion-item>
                  <ion-label>Persona Nome</ion-label>
                  <ion-input [(ngModel)]="persona.nome" name="nome" type="text"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="12" size-ms="4" size-md="4" size-lg="4" size-xl="4">
                <np-persona [(ngModel)]="persona.np" name="np"></np-persona>
              </ion-col>
              <ion-col size="12" size-ms="4" size-md="4" size-lg="4" size-xl="4">
                <ion-item>
                  <ion-label>Total de pontos</ion-label>
                  <ion-input type="text" [value]="persona.totalPoints.all" readonly></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </card-persona>
        </ion-col>  
        <!--Close Header Part-->

        <!-- Open Habilidade Part -->
        <ion-col col-12>
          <card-persona label="Habilidades" [points]="persona.totalPoints.habilidade">
            <ion-row>
              <ion-col  size="6" size-ms="6" size-md="4" size-lg="4" size-xl="2"
                        *ngFor="let abilityKey of persona.abilityKeys">
                <ability-persona  [label]="abilityKey.label" 
                                  [(ngModel)]="persona[abilityKey.name]" name="{{abilityKey.name}}">
                </ability-persona>
              </ion-col>
            </ion-row>
          </card-persona>
        </ion-col>
        <!-- Close Habilidade Part -->

        <!-- Open Combate Part -->
        <ion-col size="12">
          <card-persona label="Combate" [points]="persona.totalPoints.combate">
            <ion-row>
              <ion-col  size="12" size-ms="6" size-md="6" size-lg="6" size-xl="6"
                        *ngFor="let combatKey of persona.combatKeys">
                <attribute-persona  [label]="combatKey.label"
                                    [(ngModel)]="persona[combatKey.name]" name="{{combatKey.name}}">
                  ({{persona.bonusPoints[combatKey.name]|truncateNumber}})
                </attribute-persona>
              </ion-col>
            </ion-row>
          </card-persona>
        </ion-col>
        <!-- Close Combate Part -->        

      </ion-row>
    </form>
  </ion-grid>

</ion-content>
