<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="persona">{{persona.nome}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/personas'"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  {{persona | json}}

  <ion-grid *ngIf="persona">
    <form #personaForm="ngForm" novalidate>
      <ion-row>

        <!--Open Header Part-->
        <ion-col size="12">
          <persona-card label="Cabeçalho" [points]="persona.totalPoints.all">
            <ion-row>
              <ion-col size="12" size-ms="4" size-md="4" size-lg="4" size-xl="4">
                <ion-item>
                  <ion-label>Persona Nome</ion-label>
                  <ion-input [(ngModel)]="persona.nome" name="nome" type="text"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="12" size-ms="4" size-md="4" size-lg="4" size-xl="4">
                <persona-np [(ngModel)]="persona.np" name="np"></persona-np>
              </ion-col>
              <ion-col size="12" size-ms="4" size-md="4" size-lg="4" size-xl="4">
                <ion-item>
                  <ion-label>Total de pontos</ion-label>
                  <ion-input type="text" [value]="persona.totalPoints.all" readonly></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </persona-card>
        </ion-col>  
        <!--Close Header Part-->

      </ion-row>
    </form>
  </ion-grid>

</ion-content>
